:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 12px 8px; 
  background-color: transparent;
  color: rgb(255, 251, 251); 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  width: 120px;
  transition: background-color 0.6s, transform 0.6s ease-in-out;
}

.button:hover {
  background-color: #1b9644;
  color: white;
  font-weight: 700;
  transform: scale(1.1);
}

.button:active {
  background-color: #64cf8d;
  font-weight: 600;
}

.button.active {
  position: relative;
  background-color: #0bce4c;
  color: rgb(0, 0, 0);
  font-weight: 700;
  transform: scale(1.4);
  transition: transform 0.6s ease-in-out;
}

.button.active:hover {
  transform: scale(1.4);
}

.button-alwaysshow:hover {
  background-color: #14da56;
  color: white;
  font-weight: 700;
  padding: 15px 101px; 
  transition: background-color 0.6s, transform 0.6s ease-in-out;
}

.button-alwaysshow {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight:700;
  max-width: 500px;
  padding: 15px 101px; 
  background-color: #14c950;
  color: rgb(0, 0, 0); 
  border: none; 
  border-radius: 20px; 
  cursor: pointer; 
  transition: background-color 0.6s, transform 0.6s; 
}